<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Lista de Produtos</title>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<script src="/js/java-script.js"></script>
<script src="/js/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div th:replace="fragments/header :: header"></div>			
			<h3>Lista de Produtos</h3>
		</div>
		<div class="panel-body">
			<div id="delete-modal" th:replace="fragments/delete-modal :: delete-modal"></div>
			<fieldset>
				<p class="message-success" th:text="${sucesso}">
				<div class="table-responsive">
					<table class="table table-sm table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Descrição</th>
								<th>Valor</th>
								<th>Data de Cadastro</th>
								<th>Quantidade</th>
								<th>Observação</th>
								<th>Ação</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="produto : ${produtos}">
								<td th:text="${produto.id}"></td>
								<td th:text="${produto.descricao}"></td>
								<td th:text="${'R$ ' + #numbers.formatDecimal(produto.valor, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
								<td th:text="${#dates.format(produto.dataCadastro, 'dd/MM/yyyy')}"></td>
								<td th:text="${produto.quantidade}"></td>
								<td th:text="${produto.observacao}"></td>
								<td>
									<div class="btn-group pull-right">
										<a id="edit" th:href="@{/editar/{id}(id=${produto.id})}"><span class="glyphicon glyphicon-pencil"></span></a> 
										<a id="trash" th:attr="onclick = ${'modalDelete(' + produto.id + ')' }"><span class="glyphicon glyphicon-trash"></span></a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="form-group">
					<a th:href="@{/formulario}" class="btn btn-success">Adicionar</a>
				</div>
			</fieldset>
		</div>
	</div>
</body>
</html>